<!-- <ul ngbNav class="nav-tabs">
    <li [ngbNavItem]="link.fragment" *ngFor="let link of tabLink">
      <a ngbNavLink [routerLink]="link.fragment" (click)="showNavBar(link.showNavBar)">{{ link.title }}</a>
    </li>
</ul> -->


<div class="button-container">
  <button type="button" class="btn btn-primary" (click)="isShowNavBar(false)">add
    values</button>
  <button type="button" [disabled]="!showNavBar" class="btn btn-primary" (click)="isShowNavBar(true)">change
    values</button>
</div>

