<!-- BEFORE -->
<!-- <div cdkDropListGroup>
<div class="container-fluid" cdkDropListGroup>
  <div class="row">
    <div class="col-md-2" style="border: 1px solid #ccc;">
      <app-menu (elementAdded)="onElementAdded($event)"></app-menu>
    </div>
    <div class="col-md-10 drop-area">
      <div class="form" cdkDropListGroup>
        <div *ngFor="let element of elements" cdkDrag cdkDragBoundary=".form" class="element-container">
          <div [ngSwitch]="element.type" class="element">
            <input *ngSwitchCase="'title'" placeholder="New Title" cdkDragHandle>
            <h3 *ngSwitchCase="'subtitle'">New Subtitle</h3>
            <input *ngSwitchCase="'image'" type="file" accept="image/*" cdkDragHandle>
            <button *ngSwitchCase="'button'">Click me</button>
            <button class="settings-button" (click)="openSettingsDialog(element)">Settings</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->
<!-- BEFORE END -->



